<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>{{ error }}</h3>
<form action="/note/signup/" method="post">
    <table border="1">
        <tr>
            <td>username:</td>
            <td><input type="text" value="username" name="username"/></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password" value="password" name="password"/></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="email" value="email" name="email"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="signup">
            </td>
        </tr>
    </table>

</form>
</body>
</html>