<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if temp.username == None and temp.password == None %}
<form method="post" action="/log_in/sign_in/">
    {% csrf_token %}
    username：<input type="text" name="username" value=""><br/>
    password：<input type="text" name="password" value=""><br/>
    <input type="submit" value="SignIn">
</form>
{% else %}
you are signin！{{ temp.username }}<br/>
<form method="post" action="/log_in/sign_out/">
{% csrf_token %}
    <input type="submit" value="signout">
</form>
{% endif %}
</body>
</html>